body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/sh.jpeg); 
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}

article {
    width: 75%;
    float: left; 
    margin-right: 5%; 
}
article h1 {
    color: blue;
}
article h2 {
    color: blue;
}

aside {
    width: 20%;
    position: fixed; 
    right: 0;
    top: 15px; 
    background-color: lightblue;
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    padding-left: 20px; 
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}

footer {
    clear: both;
    border-top: 2px darkcyan;
    padding: 20px; 
    background-color: none;
    text-align: center; 
    color: darkturquoise; 
    font-size: 1.2em; 
}
nav {
    background-color: blue; 
    padding: 10px; 
}

nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-between;
}

nav li {
    margin: 0 15px; 
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 5px 10px; 
    transition: background-color 0.3s; 
}

nav a:hover {
    border-radius: 5px; 
}

nav .current {
    color: yellow;
    border-radius: 5px; 
}

nav .lastitem {
    margin-right: 
}
