body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/sh.jpeg); 
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}

article {
    width: 75%;
    float: left; 
    margin-right: 5%; 
}

aside {
    width: 20%;
    position: fixed; 
    right: 0;
    top: 15px; 
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    padding-left: 20px; 
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}

footer {
    clear: both;
    border-top: 2px black;
    padding: 20px; 
    text-align: center; 
    color: darkturquoise; 
    font-size: 1.2em; 
}
