body {
    width: 95%;
    margin: 15px auto;
    background-image: url(../images/space.jpeg); 
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}

article {
    width: 75%;
    float: left; 
    margin-right: 5%; 
}

aside {
    width: 20%;
    position: fixed; 
    right: 0;
    top: 15px; 
}

ul {
    list-style-type: none; 
}

li {
    padding-left: 20px; 
}
p::first-letter{
        font-size: 3em;
        font-weight: bold;
        font-style: italic;
        color: black;
}